---
layout: page
title: Data Science
description: “All data has its beauty, but not everyone sees it.” - Damian Mingle
header-img: assets/images/datascience-bg.jpg
---

{% for post in site.tags.Analytics %}
          <div class="post-preview">
               <a href="{{ post.url | prepend: site.baseurl }}">
                  <h2 class="post-title">
                      {{ post.title }}
                  </h2>
                  <div class="post-content-preview">
                      {% if post.lang == 'en' %}
                          {{ post.content | strip_html | truncate:200 }}
                      {% else %}
                          {{ post.content | strip_html | truncate:150 }}
                      {% endif %}
                  </div>
              </a>
          </div>
          <hr>
{% endfor %}     
