<head>
	<meta charset="utf-8">
	<meta name="viewport" width="device-width, initial-scale=1.0">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="Sarthak Garg">
	<!-- favicon
	<link rel="shortcut icon" href="/img/ico/favicon.png">
	-->
	<title>{{ page.title }} | Sarthak Garg | Product Manager, Creative Writer</title>		
	<!-- styles -->
	<link href="/iStandpoint/assets/css/bootstrap.css" rel="stylesheet">
	<link href="/iStandpoint/assets/css/jumbotron-narrow.css" rel="stylesheet">
	<link href="/iStandpoint/assets/css/style.css" rel="stylesheet">
  	<!--<link rel="stylesheet" type="text/css" href="/iStandpoint/assets/css/my.css">-->
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
  <script src="/iStandpoint/assets/js/html5shiv.js"></script>
  <script src="/iStandpoint/assets/js/respond.min.js"></script>
	<![endif]-->
	<!-- google analytics -->
	<!-- {% include analytics.html %}	-->
</head>
