<div id="particles-js">
<div class="bar-header">
    <a id="menu" role="button">
        <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    </a>
       <h1>
        <span class="site-title">Sarthak Garg</span>
        <span class="site-description">Product Manager</span>
      </h1>
    <a id="search" class="dosearch" role="button">
        <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
    </a>
</div>
    </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
    </div>
</div>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}
