---
layout: page
title: Short Stories
description: “There is no greater agony than bearing an untold story inside you.” - Maya Angelou
---

{% for post in site.tags.Stories %}
          <div class="post-preview">
               <a href="{{ post.url | prepend: site.baseurl }}">
                  <h2 class="post-title">
                      {{ post.title }}
                  </h2>
                  <div class="post-content-preview">
                      {% if post.lang == 'en' %}
                          {{ post.content | strip_html | truncate:200 }}
                      {% else %}
                          {{ post.content | strip_html | truncate:150 }}
                      {% endif %}
                  </div>
              </a>
          </div>
          <hr>
{% endfor %}     



